body {
    background-color: lightgray;
    color: darkblue;
    padding: 40px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid darkblue;
    margin: auto;
    max-width: 600px;
    padding: 30px;

}
